.user-list {
  overflow-y: scroll;
  max-height: calc(100% - 60px);
  .msg {
    margin-top: 20px;
    font-size: 18px;
    color: rgb(142, 142, 142);
  }

  &::-webkit-scrollbar {
    width: 9px;
  }

  &::-webkit-scrollbar-track {
    background: #ffffff;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #d2d2d2;
    border-radius: 0px;
    border: 2px solid #ffffff;
  }
}
