.admin-page {
  padding: 0 20px;
  .container {
    .admin-users {
      border: 1px solid #dbdbdb;
      height: 72vh;
      margin-top: 20px;
      width: 392px;
      .list-title {
        border-bottom: 1px solid #dbdbdb;
        padding: 20px;
        font-weight: bold;
      }
    }
    .title {
      margin-top: 20px;
      font-size: 28px;
    }
    .create {
      box-shadow: 4px 4px 12px 0px rgb(0 0 0 / 37%);
      position: absolute;
      bottom: 66px;
      right: 87px;
      background-color: #9c27b0;
      padding: 12px 23px;
      border-radius: 5px;
      cursor: pointer;
      font-size: 15px;
      color: #fff;
    }
  }
}
