.msg-app {
  max-width: 935px;
  margin: 0 auto;
  padding: 20px;
  height: 90vh;
  .list {
    width: 430px;
    border-bottom: 1px solid #dbdbdb;
    border-top: 1px solid #dbdbdb;
    border-left: 1px solid #dbdbdb;
    .toggle {
      padding: 10px 20px;
      border-bottom: 1px solid #dbdbdb;
      height: 60px;
      cursor: pointer;
      & > * {
        padding: 10px;
        border-radius: 16px;
        &:hover {
          background-color: rgb(239 233 233);
        }
      }
    }
  }
  .main-chat {
    width: 100%;
    border: 1px solid #dbdbdb;
  }
}
