* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue,
    sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  color: #333;
  min-height: 100vh;
}
#root {
  min-height: 100vh;
}
a {
  color: unset;
  text-decoration: none;
}

p {
  margin: 0;
}
